

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1f1f1f;
}

#content {
	max-width: 80em;
	margin: auto;
}

#outline-container-boxes {
    display: flex;
    flex-flow: row wrap;
}

#outline-container-boxes .outline-4 {
    margin: 1em;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;
    min-width: 268px;
    max-width: 268px;
    min-height: 250px;
    box-shadow: 0px 0px 15px 2px #111;
    background-color: #353535;
}

h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    background: darkgray;
}

h4 span {
    margin-left: 1em;
}

.org-ul {
    max-height: 90%;
    padding: 0px;
}

.org-ul li {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    min-height: 30px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 0px;
}

li:hover{
    background-color: #888;
}

.tag {
    max-height: 12px;
    min-height: 12px;
    max-width: 12px;
    min-width: 12px;
    display: flex;
    align-content: center;
    align-self: center;
    border-radius: 2px;
}

.tag span {
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.2em;
}

.org-ul li a[href] {
    color: #ddd;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 30px;
    line-height: 2em;
    text-align: center;
    padding: 2px;
    font-size: 0.85em;
    text-decoration: none;
}

.org-ul li span.tag {
    display: none;
}

#header_banner {
    display: flex;
    align-self: center;
}

#clock {
    font-size: 2em;
}

#postamble {
    font-size: 0.7em;
    display: flex;
    color: dimgray;
}

h1.title {
    display: none;
}
